{% extends 'AIResponsiveBundle:services:serviceBase.html.twig' %}
{% block title %}{{pageTitle}}{% endblock %}
{% block pageDescription %}{% if pageDesc is defined %}{{pageDesc}}{% endif %}{% endblock %}
{% block pagename %}{{type1}}{% endblock %}
{% block bigTitle %} {{xml.InspAndAudit.title}} {% endblock %}
{% block smallText %}
    <div class="pwhite">{{xml.InspAndAudit.subtitle|raw}}</div>
    <!-- <a href="/register" role="button"  class="btn btn-primary btn-regular headerButton">{{'Get Started'|trans}}</a> -->
{% endblock %}

{# Set Template Variables [BEGIN] #}
{% set priceAsia = "$" + price_Inspect_Low %}
{% set priceEurope = "$" + price_Inspect_High %}
{% set demoLink = "/popup?video=watchdemo&amp;lang=en&amp;mobile=false&amp;TB_iframe=true&amp;ToDown=20&amp;height=420&amp;width=730&amp;modal=true" %}
{% set videoLink = "/popup?video=watchinspection&amp;lang=en&amp;mobile=false&amp;TB_iframe=true&amp;ToDown=20&amp;height=440&amp;width=730&amp;modal=true" %}
{% set watchWhat = "Watch a Real Inspection" %}
{% set inspectionImage = "/images/see_a_real_image.php?lang={{ app.request.getLocale() }}&type=psi" %}
{% set videoLinkSmall = "https://www.youtube.com/v/gt1ZyhcOD78?version=3%26autoplay=%26showinfo=0%26vq=hd720" %}
{% set inspectionImage1 = "/images/see_a_real_image.php?lang={{ app.request.getLocale() }}&type=psi" %}
{# Set Template Variables [END] #}

{% block serviceText %}
<h2 class="marginZero padding15" style="font-weight:bold;"> {{xml.InspAndAudit.title}}</h2>
    <ul class="smallbullet marginZero ">
    {%for li in xml.InspAndAudit.listitem%}
    <li style='margin-bottom:10px;'>{{li|replace({'{{priceIA}}': price_Inspect_Low})}}</li>
    {%endfor%}
   </ul>

  <h2 class="marginZero padding15" style="font-weight:bold;">{{xml.QCinIndia.title}}</h2>

     <ul class="col-md-6 col-xs-12" style="list-style:none;padding-left:0px;padding-right:0px;">
      {%for li in xml.QCinIndia.leftList.li%}
      <li ><div class="col-xs-1 paddingLeftRightZero" style="float:left;padding-top:2px;"><img src='{{assetsDomain}}/images/tic.gif'></div><div class="col-xs-11 paddingLeftRightZero" style="padding-bottom:10px;">{{li}}</div></li>
      {%endfor%}
    </ul>


     <ul class="col-md-6 col-xs-12" style="list-style:none;padding-left:0px;padding-right:0px;">
      {%for li in xml.QCinIndia.rightList.li%}
     <li ><div class="col-xs-1 paddingLeftRightZero" style="float:left;padding-top:2px;"><img src='{{assetsDomain}}/images/tic.gif'></div><div class="col-xs-11 paddingLeftRightZero" style="padding-bottom:10px;">{{li}}</div></li>
      {%endfor%}
     </ul>
    <div style="clear:both"></div>

  <h2 class="marginZero padding15" style="font-weight:bold;">{{xml.Obstacles.obTitle}}</h2>
    <p >{{xml.Obstacles.obText|raw}}</p>
    <div class="marginZero " style="padding-bottom:5px;">
      {{xml.Obstacles.obText|raw}}
    </div>
   <h2 class="marginZero padding15" style="font-weight:bold;padding-top:5px">{{xml.Obstacles.agTitle}}</h2>
   <p >{{xml.Obstacles.agText}}</p>
   <p><a id="learn_more" href="javascript:;">{{xml.Obstacles.learnMore.title}}</a></p>

   <div id="learn_more_content" style="display:none;">
     {{xml.Obstacles.learnMore.text|raw}}
   </div>
 <p class="marginZero">{{xml.Obstacles.footText|raw}}</p>
{% endblock %}
