{% extends '::base.html.twig' %}
{% block title %}{% if xml.pageTitle is defined %}{{xml.pageTitle}}{% else %}{% trans %}Sample Report | AsiaInspection{% endtrans %}{% endif %}{% endblock %}
{% block pageDescription %}{% if xml.pageDesc is defined %}{{xml.pageDesc}}{% endif %}{% endblock %}
{% block pageKeywords %}{% if xml.pageKeywords is defined %}{{xml.pageKeywords}}{% endif %}{% endblock %}
{% block pagename %}SampleReportLanding{% endblock %}

{% block body %}

    <script src="//app-ab16.marketo.com/js/forms2/js/forms2.min.js"></script>
    <script src="/js/arrive.min.js"></script>
{#
    <script type="text/javascript">
        formId = 1078;
        type = "{{type}}";
        id = "{{report}}";
        if(type == "audit") formId = 1078;
        if(type == "inspection") formId = 1080;
        if(type == "labtest") formId = 1083;
        $("#MarketoForm").append("<center><form id='mktoForm_"+formId+"'></form></center>");

        $(document).arrive(".mktoButton", function() {
            $("#Email").val(getCookie('email')).attr("placeholder","Your email address");
            mktoObj = $("form","#MarketoForm");
            $(".mktoAsterix", mktoObj).parent().remove();
            $(".mktoOffset", mktoObj).remove();
            $(".mktoGutter", mktoObj).remove();
            $(".mktoFormCol", mktoObj).css("width","100%");
            $(".mktoFieldWrap", mktoObj).css("width","100%");
            $(".mktoButtonRow", mktoObj).css("width","100%");
            $("#Email", mktoObj).css({
                "width":"100%",
                "border":"1px solid rgb(206, 207, 209)",
                "border-radius":"3px",
                "box-shadow":"0 0 5px rgb(223, 224, 225) inset",
                "background-color":"rgb(249,249,249)",
                "box-sizing":"border-box",
                "padding":"6px 12px",
                "line-height":"20px",
                "font-size":"14px",
                "height":"34px"
            });
            $(".mktoButtonWrap", mktoObj).css("margin","0px");
            $(mktoObj).css({
                "width":"70%",
                "min-width":"200px",
            });
            $(".mktoButton").addClass("two-btn btn btn-primary btn-big").attr("id","marketoSampleReportPopupSubmit").text("{% trans %}Get the Report{% endtrans %}").css({
                "width":"100%",
                "background-image":"none",
                "background-color":"#5ba331",
                "font-size":"16px",
                "line-height":"27px"
            }).click(function(){
                contentId = "{{report}}";
                trackContentDownload('samplereport',contentId);
                email = $("#Email").val();
                setCookie("email", email, 365);
                // Save Locally
                $.ajax({
                    type: "POST",
                    url: "/getEmail",
                    async: "false",
                    data: "email="+email+"&target={{report}}&category=Sample%20Report",
                    dataType: "text",
                    success: function(msg){ }
                });
            });

            // Set the Report to download
            if(type == "audit") $("[name=SampleAuditReport]").val(id);
            if(type == "inspection") $("[name=SampleInspectionReport]").val(id);
            if(type == "labtest") $("[name=SampleTestingReport]").val(id);

        });
        $(document).ready(function() {
            MktoForms2.loadForm("//app-ab16.marketo.com", "944-QDO-384", formId);    
        });
    </script>
#}    
    <script type="text/javascript">
        $(document).arrive(".mktoButton", function() {
            $("#Email").val(getCookie('email')).attr("placeholder","Your email address");
            mktoObj = $("form","#MarketoForm");
            $(".mktoAsterix", mktoObj).parent().remove();
            $(".mktoOffset", mktoObj).remove();
            $(".mktoGutter", mktoObj).remove();
            $(".mktoFormCol", mktoObj).css("width","100%");
            $(".mktoFieldWrap", mktoObj).css("width","100%");
            $(".mktoButtonRow", mktoObj).css("width","100%");
            $("[name=SampleAuditReport]").val("{{xml.downloadUrl}}");
            $("[name=SampleInspectionReport]").val("{{xml.downloadUrl}}");
            $("[name=SampleTestingReport]").val("{{xml.downloadUrl}}");

            $(".mktoFormRow", mktoObj).css({
                "width":"50%",
                "display":"inline-block",
                "float":"left",
                "margin-right":"10px"
            });
            $(".mktoButtonRow", mktoObj).css({
                "width":"47%",
                "display":"inline-block"
            });

            $("#Email", mktoObj).css({
                "width":"100%",
                "border":"1px solid rgb(206, 207, 209)",
                "border-radius":"3px",
                "box-shadow":"0 0 5px rgb(223, 224, 225) inset",
                "background-color":"rgb(249,249,249)",
                "box-sizing":"border-box",
                "padding":"6px 12px",
                "line-height":"20px",
                "font-size":"14px",
                "height":"34px"
            });
            $(".mktoButtonWrap", mktoObj).css("margin","0px");
            $(".mktoFieldWrap", mktoObj).css("margin-top","0px");
            $(mktoObj).css({
                "width":"100%",
                "min-width":"200px",
            });
            $(".mktoButton").attr("id","marketoSubmitButton").addClass("two-btn btn btn-primary btn-big").text("{% trans %}Get the Report{% endtrans %}").css({
                "width":"100%",
                "background-image":"none",
                "background-color":"#5ba331",
                "font-size":"16px",
                "line-height":"27px",
                "padding":"0.1em 1em",
                "height":"34px"
            }).click(function(){
                contentId = "";
                sampAuditReport = $("[name=SampleAuditReport]");
                sampInspectReport = $("[name=SampleInspectionReport]");
                sampLabReport = $("[name=SampleTestingReport]");
                if( $(sampAuditReport).length > 0 ) contentId = $(sampAuditReport).val();
                if( $(sampInspectReport).length > 0 ) contentId = $(sampInspectReport).val();
                if( $(sampLabReport).length > 0 ) contentId = $(sampLabReport).val();
    
                trackContentDownload('samplereport',contentId);
                email = $("#Email").val();
                if(email != "") {
                    setCookie("email", email, 365);
                    // Save Locally
                    $.ajax({
                        type: "POST",
                        url: "/getEmail",
                        async: "false",
                        data: "email="+email+"&target="+contentId+"&category=Sample%20Report",
                        dataType: "text",
                        success: function(msg){ }
                    });
                }
            });
        });
        $(document).ready(function() {
            MktoForms2.loadForm("//app-ab16.marketo.com", "944-QDO-384", {{formTypeId}});
            console.log('MktoForms2.loadForm("//app-ab16.marketo.com", "944-QDO-384", '+{{formTypeId}}+');');
        });
    </script>

    <style type="text/css">
        {% if xml.headerImage is defined %}
            .headerbox{ background-image: url("https://s3.asiainspection.com/images/responsive/headerImages/{{xml.headerImage}}_[md].jpg"); }
            @media screen and (max-width: 768px) { .headerbox{ background-image: url("https://s3.asiainspection.com/images/responsive/headerImages/{{xml.headerImage}}_[sm].jpg"); } }
            @media screen and (min-width: 1401px) { .headerbox{ background-image: url("https://s3.asiainspection.com/images/responsive/headerImages/{{xml.headerImage}}_[lg].jpg"); } }
        {% else %}
            .headerbox{ background-image: url("https://s3.asiainspection.com/images/responsive/headerImages/sample_reports_[md].jpg"); }
            @media screen and (max-width: 768px) { .headerbox{ background-image: url("https://s3.asiainspection.com/images/responsive/headerImages/sample_reports_[sm].jpg"); } }
            @media screen and (min-width: 1401px) { .headerbox{ background-image: url("https://s3.asiainspection.com/images/responsive/headerImages/sample_reports_[lg].jpg"); } }
        {% endif %}
    </style>

    <div class="headerbox">
        <div class="container wrapper vcenter_parent">
            <div class="row vcenter_parent">
                <div class="col-xs-11 col-xs-offset-1 vcenter">
                    <h1 class="mainHeader">{{xml.title}}</h1>
                    <div class="mainSubHeader">{{xml.subtitle|raw}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container wrapper">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5" style="margin-bottom:1em; padding-top:20px;">
            {% if app.request.get('aliId') is defined and app.request.get('aliId') != null %}
                <div style="text-align:center; background-color:rgba(64,64,66,0.2); padding:15px;">
                    <h3 style="font-size:14px; margin-bottom:0px; color:#5aa231;">Your sample report has been sent, please check your email.</h3>
                </div>
            {% else %}
                <div id="MarketoForm" class="popup" style="text-align:left; padding:20px; background-color:#ddd;">
                    <h2 class="marginZero" style="font-weight:bold; font-size:20px;">View a Sample Report</h2>
                    <form id="mktoForm_{{formTypeId}}"></form>
                </div>
            {% endif %}

            {% for section in xml.section %}
                <h2 class="marginZero padding15" style="font-weight:bold;">{{section.heading}}</h2>
                <p>{{section.content|raw}}</p>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-5" style="margin-bottom:1em; padding-top:20px; text-align:center;">
            {% if xml.altImgUrl is defined %}
                <img src="https://s3.asiainspection.com/images/responsive/SampleReports/report_{{xml.altImgUrl}}" style="max-width:100%; padding-top:10px;" />
            {% else %}
                <img src="https://s3.asiainspection.com/images/responsive/SampleReports/report_LT_REACH.jpg" style="max-width:100%; padding-top:10px;" />
            {% endif %}
        </div>
        <!--
        <div class="col-xs-12 col-sm-offset-1 col-sm-11 paddingLeftRightZero" style="margin-bottom:1em; padding-top:20px;">
            {% if app.request.get('aliId') is defined and app.request.get('aliId') != null %}
                <div style="text-align:center; background-color:rgba(64,64,66,0.2); padding:15px;">
                    <h3 style="font-size:14px; margin-bottom:0px; color:#5aa231;">Your sample report has been sent, please check your email.</h3>
                </div>
            {% endif %}
            {% for section in xml.section %}
                <h2 class="marginZero padding15" style="font-weight:bold;">{{section.heading}}</h2>
                <p>{{section.content|raw}}</p>
            {% endfor %}

            <h2 class="marginZero padding15" style="font-weight:bold;">{{xml.viewSample}}</h2>
            <center>
            <div style="text-align:center; background-color:black; max-width:1000px;" class="vcenter_parent">
                <img src="{{assetsDomain}}/files/samplereports/thumbnails/{{xml.imgUrl}}" style="width:100%; opacity: 0.5;" />
                <div class="buttonContainer vcenter" style="position:absolute; width:100%;">
                    <div id="MarketoForm" style="text-align:center;"><center><form id='mktoForm_{{formTypeId}}' style='max-width:500px;'></form></center></div>
                </div>
            </div>
            </center>

            <h2 class="marginZero padding15" style="font-weight:bold;">{{xml.lastSection.heading}}</h2>
            <p>{{xml.lastSection.content|raw}}</p>
            
        </div>
        -->
    </div>

    <img src="{{assetsDomain}}/images/responsive/headerImages/sample_reports_%5Blg%5D.jpg" alt="Supply Chain Audit & Inspection Sample Reports | AsiaInspection" style="position:absolute; top:-5000px; z-index:-1000" />

{% endblock %}