{% extends 'AIResponsiveBundle:aboutUs:whoWeAreBase.html.twig' %}

{% block title %}{{pageTitle}}{% endblock %}
{% block pageDescription %}{% if pageDesc is defined %}{{pageDesc}}{% endif %}{% endblock %}

{% block bigTitle %} {% trans %}aboutUs-test-title{% endtrans %}{% endblock %}
{% block smallText %}{% trans %}aboutUs-test-subtitle{% endtrans %}{% endblock %}
{% block pagename %}Testimonials{% endblock %}
{% block whoWeAreText %}

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test1-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test1-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.designsforhope.org/" target="_blank"><img src="{{assetsDomain}}/images/designs_for_hope.png" width="158px" alt="Designs for Hope" /></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-abbyshot-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-abbyshot-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.abbyshot.com" target="_blank"><img src="{{assetsDomain}}/images/abbyshot-logo.png" alt="Abbyshot" style="width: 180px;"></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test2-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test2-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.avidproducts.com" target="_blank"><img src="{{assetsDomain}}/images/AVID-Products.png" alt="AVID Products" style="width: 100px;"></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test3-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test3-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.gardenbuildingsdirect.co.uk" target="_blank"><img src="{{assetsDomain}}/images/gbd-logo.jpg" width="250px" alt="Garden Buildings Direct" /></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test4-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test4-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.macvad.com/urban-leisure.html" target="_blank"><img src="{{assetsDomain}}/images/urban_leisure.png" alt="Urban Leisure" /></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test5-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test5-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.audiotraveler.com" target="_blank"><div class="spriteaudio-traveler" alt="Audio Traveler"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test6-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test6-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.bobbarker.com" target="_blank"><div class="bobbarker" alt="Bamko"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test7-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test7-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.ungerglobal.com" target="_blank"><div class="spriteunger-enterprises" alt="Unger Enterprises"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test8-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test8-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.foxrunbrands.com" target="_blank"><div class="spritefoxrunbrands" alt="Fox Run Brands"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test9-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test9-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://griddlygames.strikingly.com" target="_blank"><div class="spritegriddlygames" alt="HeadzGamez"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test10-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test10-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.allibert.fr" target="_blank"><div class="spriteallibert" alt="Allibert"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test11-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test11-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.fotorama.co.uk" target="_blank"><div class="spritefotorama" alt="Fotorama"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test12-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test12-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.corep.com" target="_blank"><div class="spritecorep" alt="COREP"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>
  <hr class="hrgrey" style="width:100%;">

  <div class="col-xs-12 padding15 paddingLeftZero" >
    <p>{% trans %}aboutUs-test-test13-quote{% endtrans %}</p>
    <div class="col-md-7  col-xs-12 paddingLeftZero" style="padding-top:5px;">
       <p>{% trans %}aboutUs-test-test13-who{% endtrans %}</p>
    </div>
    <div class="col-md-5  col-xs-12 " id="testimonialBanner" >
      <a href="http://www.bamko.net" target="_blank"><div class="spritebamko" alt="Bamko"></div></a>
    </div>
  </div>
  <div style="clear:both;"></div>

{% endblock %}

{% block offerbox1 %}
<div class="sidebarTitlebar">
    <h5>{% trans %}A Note From our CEO{% endtrans %}</h5>
</div>
<div class="sidebarContentBox">
    <div itemscope itemtype="http://schema.org/Person">
        <div id="CEOimageBox"><img itemprop="image" src="{{assetsDomain}}/images/responsive/Sebastien-Breteau.png" width="100%" /></div>
        <p style="padding-top:10px;">{% trans %}"As global trade continues to increase, and supply chains get increasingly complex, buyers from brands, retailers, importers need increased visibility and control over their manufacturing worldwide.{% endtrans %}</p>
        <p>{% trans %}Our ambition at AI is to make it easier for our clients to control the quality and compliance of their product and suppliers through the use of our services and the real-time supply intelligence we offer them."{% endtrans %}</p>
        <p class="pBold">
            <b>
                <span itemprop="name" style="color:black;">Sébastien Breteau</span><span itemprop="sameAs" href="http://en.wikipedia.org/wiki/Sébastien_Breteau"></span>,
                <span itemprop="jobTitle">{% trans %}CEO{% endtrans %}</span>
            </b>
        </p>
    </div>
</div>
{% endblock %}

{% block offerbox2 %}
    <div class="sidebarTitlebar">
        <h5>{% trans %}In The News{% endtrans %}</h5>
    </div>
    <div class="sidebarContentBox">
        <img src="{{assetsDomain}}/images/responsive/news.png" width="100%" />
        <p style="text-align:right;pagin-top:15px;font-weight:bold;margin-bottom:0px;"><a href="/asia-inspection-news">» {% trans %}Check It Out{% endtrans %}</a></p>
    </div>
{% endblock %}

{% block offerbox3 %}
    <div class="offer-box pDeepGrey" style="margin-top:20px;">
        <div class="sidebarTitlebar">
            <h5>{{boxTitle}}</h5>
        </div>
        <div class="sidebarContentBox">
            <form class="validate-form">
                <input id="sub_news_email" placeholder="{{boxPlaceholderEmail}}" required type="text"  style="width:90%;">
                <button id="box_subscr_news_submit" class=" btn-primary" style="margin-top:15px;"  type="submit">{{boxSubmitText}}</button>
            </form>
        </div>
    </div>
{% endblock %}
