Dear {{name}},<br /><br />
Welcome, AsiaInspection Affiliate!<br /><br />
You are now ready to inform your customers of the quality control services offered by AsiaInspection.  We offer product inspections, factory and social audits, and laboratory testing, completely online, enabling users to lower their costs, streamline the QC process, and secure their imports.<br /><br />
We guarantee to be at any factory in Asia within 48 hours. Clients are allowed to modify or cancel orders up until 4 pm (China time) the day before the scheduled inspection.  Comprehensive inspection reports, supported with detailed photos, are delivered the same day as the inspection. Clients see what the inspector sees.  We are Your Eyes in the Factory!TM<br /><br />
<b>AsiaInspection Marketing Material</b><br /><br />

You can find all approved marketing materials for your use and detailed instructions on our website at:<br />
<a href="http://www.asiainspection.com/affiliate/get_started">http://www.asiainspection.com/affiliate/get_started</a><br /><br />
If you would like to download a sample inspection report, you may reference <a href="http://www.asiainspection.com/samplereports">http://www.asiainspection.com/samplereports</a><br /><br />
<b>How to Get Started</b><br />

For all traffic you send to the AsiaInspection website, you will need to use the address provided to you.  It most contain URL parameter affId={{id}}.  It is important to note, if you do not pass your unique affiliate ID in the URL string, tracking will not work and your account will not be credited for paid inspections.  AsiaInspection will not be held liable for orders that are not tracked if the URL parameter is not properly used.<br /><br />

If you have questions or concerns regarding how to use your unique ID, you may contact us at <a href="marketing@asiainspection.com">marketing@asiainspection.com</a><br /><br />
<b>How to Send Traffic</b><br />
You may use your URL from you website, emails, or any other electronic communication. Here are several examples of how to use your unique affiliate ID.<br /><br />
<b>To the Homepage:</b><br />
http://www.asiainspection.com?affId={{id}}<br /><br />

<b>Non-English Language Domains:</b><br />
You may use any AsiaInspection domain appended with ?affId={{id}}.<br />
For example:<br />
http://www.asiainspection.fr?affId={{id}} or<br />
http://www.asiainspection.de?affId={{id}}<br /><br />

<b>Direct Traffic to Other Pages on the AsiaInspection Website:</b><br />
http://www.asiainspection.com/pre-shipment-inspection?affId={{id}} or<br />
http://www.asiainspection.com/factory-audit?affId={{id}}<br /><br />
<b>Or in Combination with Other URL Parameters:</b><br />
Append it to the end with an ampersand. For example:<br />
http://www.asiainspection.com?sem=5&affId={{id}} or<br />
http://www.asiainspection.fr?sem=5&affId={{id}} or<br />
http://www.asiainspection.com/pre-shipment-inspection?sem=5&affId={{id}}<br />
Once again, thank you and welcome to the AsiaInspection Affiliate Program!<br /><br />
Best Regards,<br /><br />
The AsiaInspection Team