 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
    <title>Memo Detail</title>
</head>

<body>
    <p style="padding-top:15px;font-size:13px;font-family:Arial;">Dear all,</p>
<p style="padding:15px;font-size:13px;font-family:Arial;"> A memo for an event we were speaking at has just been submitted, details are as follows : </p>

        
    <div class="box-white">
        <div style="margin-bottom:20px;padding-left:20px;">  
            <p><span style="font-weight:bold;">Name:</span><br />{{row.salesName}}</p>
            <p><span style="font-weight:bold;">Tradeshow:</span><br />{{row.tradeshow}}</p>
            <p><span style="font-weight:bold;">Lead Quality:</span><br />{{row.leadQuality}}</p>
            {% if row.low_qual_reason %}<p><span style="font-weight:bold;">Reason for low quality of leads:</span><br />{{row.low_qual_reason}}</p> {% endif %}
            <p><span style="font-weight:bold;">Clients Met:</span><br />{{row.clientsMet}}</p>
            <p><span style="font-weight:bold;">How many exhibitors / attendees:</span><br />{{row.exhibitors}}</p>
            <p><span style="font-weight:bold;">Competitors present:</span><br />{{row.is_competitors}}</p>
            <p><span style="font-weight:bold;">Competitors names / sponsoring:</span><br />{{row.competitors}}</p>
            <p><span style="font-weight:bold;">How was the AI Speech:</span><br />{{row.int_topic}}</p>
            <p><span style="font-weight:bold;">Attendee opinion:</span><br />{{row.attendee_opinion}}</p>
            <p><span style="font-weight:bold;">Do you suggest we attend / sponsor again?:</span><br />{{row.do_next}}</p>
            <p><span style="font-weight:bold;">Reasons:</span><br />{{row.next_reasons}}</p>
            <p><span style="font-weight:bold;">Photos:</span><br />
            {% for photo in photos %}
                <a target="_blank" href="{{link}}{{row.tradeshow}}/{{photo}}">{{photo}}</a><br />
            {% endfor %}
        </div>
        <div style="clear:both;"></div><br />
        <span style="font-weight:bold;">Results:</span><br />

        {% set saso = false %}
        {% for result in results %}
            {% if (result.h4 is defined and result.h4 > 0) or (result.w4 is defined and result.w4 > 0) or (result.c4 is defined and result.c4 > 0) %} {% set saso = true %} {% endif %}
        {% endfor %}

        <table class="bordered" style="width:100%;margin-top:20px; border: solid #ccc 1px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 1px 1px #ccc;  -moz-box-shadow: 0 1px 1px #ccc;  box-shadow: 0 1px 1px #ccc; " id="memoTable">
            <tr>
                <td style="font-weight:bold;">Name</td>
                <td style="font-weight:bold;">Total Leads</td> 
                <td style="font-weight:bold;">H1</td>
                <td style="font-weight:bold;">H2</td>
                <td style="font-weight:bold;">H3</td>
                {% if saso %}<td style="font-weight:bold;">SASO H</td>{% endif %}
                <td style="font-weight:bold;">W1</td>
                <td style="font-weight:bold;">W2</td>
                <td style="font-weight:bold;">W3</td>
                {% if saso %}<td style="font-weight:bold;">SASO W</td>{% endif %}
                <td style="font-weight:bold;">C1</td>
                <td style="font-weight:bold;">C2</td>
                <td style="font-weight:bold;">C3</td>
                {% if saso %}<td style="font-weight:bold;">SASO C</td>{% endif %}
            </tr>
            {% for result in results %}
            <tr class="memoRow">
                <td>{{result.name}}</td>
                <td>{{result.num}}</td>
                <td>{{result.h1}}</td>
                <td>{{result.h2}}</td>
                <td>{{result.h3}}</td>
                {% if saso %}<td>{{result.h4}}</td>{% endif %}
                <td>{{result.w1}}</td>
                <td>{{result.w2}}</td>
                <td>{{result.w3}}</td>
                {% if saso %}<td>{{result.w4}}</td>{% endif %}
                <td>{{result.c1}}</td>
                <td>{{result.c2}}</td>
                <td>{{result.c3}}</td>
                {% if saso %}<td>{{result.c4}}</td>{% endif %}
            </tr>
            {% endfor %}
        </table>
        <div style="clear:both;"></div><br>
       <p style="padding-top:30px;font-size:13px;font-family:Arial;"> Best Regards,<br><br>The AI Marketing Team</p>
    </div>
</body>