{% extends 'AIResponsiveBundle:salesLeads:leadsBase.html.twig' %}
{% block title %}Tradeshow Memo{% endblock %}
{% block content %}
    <h1 style="margin:20px 0px;">{% if not is_granted('ROLE_USER') %}Tradeshow Memo and Lead Management Tool{% else %}Tradeshow and Event Memo Upload{% endif %}</h1>
    {% if is_granted('ROLE_USER') %}
        <div class="tradeshowdrop_divbox" style="margin-bottom:20px;">
            <span>Type of Memo: </span>
            <select id="tradeshowMemoDropSelectType" >
                <option value="">-- Please Choose --</option>
                <option value="tradeshow-exhibiting" selected="selected">Exhibiting Tradeshow or Event (with Booth)</option>
                <option value="tradeshow-visiting">Visiting Tradeshow (no booth)</option>
                <option value="event-visiting">Sponsored or Visited Event (no booth)</option>
                <option value="event-speaking">Speaking Event (no booth)</option>
                <option value="event-hosted">Self-hosted Event</option>
                <option value="webinar">Webinar</option>
            </select>
            <img src='https://s3.asiainspection.com/images/loading.gif' id="tradeshowMemoLoadingTypeGif" style='height:20px;vertical-align:middle;display:none;'>
        </div>
    {% endif %}
    <div class="box-white">
        <div style="margin-bottom:20px;">
            {% if errors is defined %}
                {% set i = 1 %}
                <br />
                <p style="font-weight:bold;color:red;">The following errors occurred during upload: 
                {% for error in errors %}
                    <p style="color:red">{{i}}: {{error}};</p>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endif %}
            <input type="hidden" id="validateErrorText" value="">

            <!-- Standard (with Booth) Memo Form-->
            <form method="post" enctype="multipart/form-data" name="uploadMemoForm" action="/uploadMemo" id="withBoothForm" class="validate-form" onSubmit="event.preventDefault(); validateTradeshowMemoForm()">
                <input type="hidden" name="event_type" value="tradeshow-exhibiting">
                
                <div class="col-lg-6 col-xs-12">
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Show/Event:</label></div>
                        <div class="col-lg-8 col-xs-7 inputField" id="ShowDropDowns">
                            <select class="dropdownref" name="tradeshow" required style="width:70%;">
                                <option value="">-- Please Choose --</option>
                                {% for tradeshow in tradeshowList %}<option loc="{{tradeshow.location}}">{{tradeshow.tradeshow}}</option>{% endfor %}
                            </select>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Your Name :</label></div>
                        <div class="col-lg-8 col-xs-7 inputField"  id="SalesNamesDropDowns">
                            <select class="dropdownref_Master dropdownref" name="SalesID" required style="max-width:300px;">
                                <option value="" type="AI">-- Please Choose --</option>
                                {% for row in salesInfo %}<option zohoid="{{row['zohoID']}}" type="{{row['account']}}"{% if row['name'] == fullname %} selected{% endif %}>{{row['name']}}</option>{% endfor %}
                            </select>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Should we repeat the show next year and the reasons? </label></div>
                        <div class="col-lg-8 col-xs-7">
                            <span class="answers" name="answersBox">
                                <label><input type="radio" name="do_next" value="yes" > Yes</label>
                                <label><input type="radio" name="do_next" value="no" checked> No</label>
                            </span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Reasons: <img class="hoverQuestion" cargo="Reason" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <textarea id="reasons" name="next_reasons" rows="7" type="text" required style="width:80%;"></textarea>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="txtReason" class="notshow" style="display:none;">Example:<br /><br />Yes we can repeat this show as we could increase the exposure of AI in the electronic industry.</div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Feedback on the booth location and marketing materials: <img class="hoverQuestion" cargo="Feedback" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <textarea id="booth_feedback" name="booth_feedback" required rows="7" type="text" style="width:80%;"></textarea>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="txtFeedback" class="notshow" style="display:none;">
                        Example:<br /><br /> Booth: We are in the middle of the corridor in the QC industry. Not close to the both escalators and exits.<br /><br />
                        Marketing Materials: The materials are well prepared and sufficient. One of the leads has been asking us if we have USB this year as we offered them last year.
                    </div>
                    <br />

                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Was there any concurrent seminar you would suggest AI to speak at? If yes, which one and the reasons:</div>
                        <div class="col-lg-8 col-xs-7">
                            <span class="answers" name="answersBox">
                                <label><input type="radio" name="concurrent" value="yes" > Yes</label>
                                <label><input type="radio" name="concurrent" value="no" checked> No</label>
                            </span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />

                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Reasons: <img class="hoverQuestion" cargo="ConcurrentReason" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <textarea id="concurrent_reasons" name="concurrent_reasons" rows="7" type="text" style="width:80%;"></textarea>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="txtConcurrentReason" class="notshow" style="display:none;">Example:<br /><br />The Pacific QC show is concurrent and many of the exhibitors talked about going there as well.</div>
                    <br />
                </div>
        
                <div class="col-lg-6 col-xs-12">
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Date:</label></div>
                        <div class="col-lg-8 col-xs-7">
                            <select id="dateDrop" name="day" required>
                                <option value="">-- Choose --</option>
                                <option value="Day 1">Day 1</option>
                                <option value="Day 2">Day 2</option>
                                <option value="Day 3">Day 3</option>
                                <option value="Day 4">Day 4</option>
                                <option value="Day 5">Day 5</option>
                            </select>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Lead Quality: <img class="hoverQuestion" cargo="LeadQuality" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <select id="leadQuality" name="leadQuality" required>
                            <option value="">-- Choose --</option>
                                {% for i in 0..10 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                        </select><span>&nbsp;/&nbsp;10  (the best being 10)</span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="txtLeadQuality" class="notshow" style="display:none;">Example:<br /><br /> 6 / 10 &nbsp;&nbsp;  (10 being the best)<br /></div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Clients and Prospects Met: <img class="hoverQuestion" cargo="Clients" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <textarea id="clientsMet" name="clientsMet" type="text" rows="4" required  style="width:80%;"></textarea>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="txtClients" class="notshow" style="display:none;">
                        Example:<br /><br /> Name of the client: Leap Technologies<br />
                        SIC: Monica<br />
                        General Comments: Generally okay but want cheaper price
                    </div>
                    <br />

              
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Are there any competitors?</div>
                        <div class="col-lg-8 col-xs-7">
                            <span class="answers" name="answersBox">
                                <label><input type="radio" name="is_competitors" value="yes" > Yes</label>
                                <label><input type="radio" name="is_competitors" value="no" checked> No</label>
                            </span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />

                    <div class="wrap" id="competitorsWrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label>Who are they? <img class="hoverQuestion" cargo="Competitors" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <textarea id="competitors" name="competitors" type="text" rows="4"  style="width:80%;"></textarea>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="txtCompetitors" class="notshow" style="display:none;">Example:<br /><br /> HQTS (3CON-130)<br />HKPC (3CON-131)<br />...</div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label> Tradeshow Foot Traffic and Highlights of the Show:<img class="hoverQuestion" cargo="Traffic" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <textarea id="traffic" name="traffic" rows="5" type="text" required style="width:80%;"></textarea>
                        </div>
                        <div id="txtTraffic" class="notshow" style="display:none;">
                            This is not for traffic (bus, subway, taxi, etc) to the tradeshow event.  This is for the foot traffic at the actual event itself.<br /><br />Example:<br /><br /> Peak hours:<br />Morning: 11:00-12:30pm<br />Afternoon: 2:00-4:00pm<br />After 4:00pm, traffic was getting lower. Some of the visitors were tired and unwilling to stop by and talk
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />
        
                    <div class="wrap">
                        <div class="col-lg-4 col-xs-5 paddingLeftRightZero"><label> Other suggestions for marketing to improve if any: <img class="hoverQuestion" cargo="Sug" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label></div>
                        <div class="col-lg-8 col-xs-7">
                            <textarea id="suggestions" name="suggestions" rows="5" type="text" style="width:80%;"></textarea>
                        </div>
                        <div id="txtSug" class="notshow" style="display:none;">Example:<br /><br /> Can provide more factory audit and lab testing report. The contractor was not supportive enough as we have been calling for many times but no reply to fix the TV and light.</div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <br />
        
                <div class="uploadbis" style="margin-top:15px;margin-left:15px;">
                    <div class="col-lg-4 col-xs-5 paddingLeftRightZero" >
                        <label>Upload Photo(s): <img class="hoverQuestion" cargo="Photo" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label> 
                        <span style="font-size:12px"><br />Provide at least one photo of the AI booth with AI sales and leads in it.</span>
                    </div>
                    <div class="col-lg-8 col-xs-7">
                        <div class="input-group" id="cvUpload" style="width:80%;">
                            <span class="input-group-btn">
                                <a class="btn btn-secondary btn-file btn-small" style="width:80px;margin-right:0px;" >Browse&hellip; <input type="file" id="memoPhoto" name="memoPhoto[]" required="required" size="10" id="paddingSideSmallScreen"  multiple/></a>
                            </span>
                            <input type="text" class="form-control" readonly style="height:24px;border-left:0;"/>
                        </div>
                    </div>
                </div>
                <div id="txtPhoto" class="notshow" style="display:none;">To select multiple files, hold down the CTRL or SHIFT key while selecting in the file window.</div>
                <div style="clear:both;"></div>
                <p style="margin-top:20px;margin-left:15px;"> You can download a sample booth photo <a target="_blank" href="https://s3.asiainspection.com/files/salesLeadsTemplate/IMG_7158.JPG">here</a>. </p>
                <br />
                <div style="clear:both;"></div>
        
                <h2 style="margin-bottom:30px; margin-top:15px;">Lead Qualification by Day <button type="button" class="btn-secondary addButton">Add Additional Sales</button></h2>
                <div class="resultDiv form-group">
                    <div class="col-md-5 col-xs-12 paddingLeftRightZero">
                        <div class="col-xs-2 " >Name</div>
                        <div class="col-xs-4 paddingLeftRightZero"> 
                            <select class="dropdownref result_0_name resultsAllNames" name="result_0_name" style="width:85%;" required><option value="">-- Choose --</option>{% for row in salesNames %}<option zohoid="{{row['zohoID']}}" type="{{row['account']}}">{{row['name']}}</option>{% endfor %}</select>
                        </div>
                        <div class="col-xs-3 " >No. of Leads</div>
                        <div class="col-xs-2 paddingLeftRightZero"><input name="result_0_num" class="resultSum "readonly value="0"  type="number" style="width:100%;"/></div>
                    </div>
                    <div class="col-md-7 col-xs-12 numberFields paddingLeftRightZero" >
                        <span class="col-xs-2"> Hot1 : </span><input  name="result_0_h1" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2"> Hot2 : </span><input name="result_0_h2" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero"/>
                        <span class="col-xs-2"> Hot3 : </span><input name="result_0_h3" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2 sasoField"> Hot SASO : </span><input name="result_0_h4" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero sasoField" />
                        <div style="clear:both;"></div><br />
                        <span class="col-xs-2" style="padding-right:0px;"> Warm1 : </span><input name="result_0_w1" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2" style="padding-right:0px;"> Warm2 : </span><input name="result_0_w2" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero"/>
                        <span class="col-xs-2" style="padding-right:0px;"> Warm3 : </span><input name="result_0_w3" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2 sasoField" style="padding-right:0px;"> Warm SASO : </span><input name="result_0_w4" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero sasoField" />
                        <div style="clear:both;"></div><br />
                        <span class="col-xs-2"> Cold1 : </span><input name="result_0_c1" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2"> Cold2 : </span><input name="result_0_c2" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero"/>
                        <span class="col-xs-2"> Cold3 : </span><input name="result_0_c3" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2 sasoField"> Cold SASO : </span><input name="result_0_c4" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero sasoField" />
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div style="clear:both;"></div>
        
                <div class="form-group hide " id="resultTemplate"  style="margin-top:20px;">
                    <hr />
                    <div class="col-md-5 col-xs-12 paddingLeftRightZero">
                        <div class="col-xs-2">Name</div>
                        <div class="col-xs-4 paddingLeftRightZero">
                            <select class="dropdownref resultName" name="name" style="width:85%;"><option value="">-- Choose --</option>{% for row in salesNames %}<option zohoid="{{row['zohoID']}}" type="{{row['account']}}">{{row['name']}}</option>{% endfor %}</select>
                        </div>
                        <div class="col-xs-3 " >No. of Leads</div>
                        <div class="col-xs-2 paddingLeftRightZero"><input name="num" class="resultSum" type="number" readonly value="0" style="width:100%;"/></div>
                        <div class="col-xs-12" style="text-align:center;">
                            <button type="button" name="btn" class="btn-secondary removeButton" style="margin-top:10px;">Delete</button>
                        </div>
                    </div>
                    <div class="col-md-7  col-xs-12 numberFields paddingLeftRightZero" id="resultFields">
                        <span class="col-xs-2"> Hot1 : </span><input  name="h1" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2"> Hot2 : </span><input name="h2" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero"/>
                        <span class="col-xs-2"> Hot3 : </span><input name="h3" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2 sasoField"> Hot SASO : </span><input name="h4" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero sasoField" />
                        <div style="clear:both;"></div><br />
                        <span class="col-xs-2"> Warm1 : </span><input name="w1" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2"> Warm2 : </span><input name="w2" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero"/>
                        <span class="col-xs-2"> Warm3 : </span><input name="w3" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2 sasoField"> Warm SASO : </span><input name="w4" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero sasoField" />
                        <div style="clear:both;"></div><br />
                        <span class="col-xs-2"> Cold1 : </span><input name="c1" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2"> Cold2 : </span><input name="c2" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero"/>
                        <span class="col-xs-2"> Cold3 : </span><input name="c3" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero" />
                        <span class="col-xs-2 sasoField"> Cold SASO : </span><input name="c4" type="number" min="0" class="resultNum col-xs-1 paddingLeftRightZero sasoField" />
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <br /><br />
        
                <div class="wrap">
                    <p>A copy of your memo will automatically be sent to you and the following recipients: </p>
                    <p>
                        <span id="notCHBEmail">{% for email in displayMails_Booth %}{{email}}<br />{% endfor %}</span>
                    </p>
                    <button type="button" class="btn-secondary addEmailButton">Add Additional Emails to Receive this Memo</button> <input type="checkbox" id="manual"><label>&nbsp; Manually Add Email &nbsp;<img class="hoverQuestion" cargo="ManuallyInput" src="https://s3.asiainspection.com/images/responsive/blueQM.png" width="15px"/></label>
                    {% if is_granted('ROLE_ADMIN') %} <br /><input type="checkbox" name="adminNoSendEmail" /> &nbsp; Do not send Tradeshow Memo email<br /> {% endif %}
                    <div id="txtManuallyInput" class="notshow" style="display:none;">Checking this option and click the Add Email Button allows you to input emails that aren't listed in the drop down list.<br /><br />Note that only emails with @asiainspection.com , @asiafoodinspection.com and @ansecogroup.com will be sent out.</div>
                    <div class="email-group hide " id="emailTemplate"  style="margin-top:20px;">
                        <input  name="email" type="email" class="emailAddr" style="width:60%;" /><img src="https://s3.asiainspection.com/images/responsive/delete.png" id="deleteEmail" class="deleteEmailButton" style="margin-left:3px;width:13px;cursor: pointer;">
                    </div>
                    <div class="email-dropdown-group hide " id="emailDropTemplate"  style="margin-top:20px;">
                        <select class="dropdownref emailName"  name="emailDrop" class="emailAddr"  style="width:60%;">{% for row in salesNames %}<option value="{{row['zohoID']}}" type="{{row['account']}}">{{row['name']}}</option>{% endfor %}</select> <img src="https://s3.asiainspection.com/images/responsive/delete.png" id="deleteEmail"  class="deleteEmailDropButton" style="cursor: pointer;width:13px;">
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                {% if success is defined %}
                    <br />
                    <p style="font-weight:bold;color:green;">Upload completed!!</p>
                {% endif %}
                <div style="clear:both;"></div>
                <div style="text-align:center;">
                    <button id="uploadMemoSubmit" name="btnSubmit" type="submit" class="btn-primary smallButton" style="margin:40px 0px 10px 0px;">Upload Now</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
