{% extends '::base.html.twig' %}
{%block title%}AI Site Map{%endblock%}

{%block body%}


<div class="container wrapper" style="width:100%; padding-bottom:20px;">
	<div class="col-xs-12 wrapper ">
		 <div id="aboutUs" class=" col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-12  wrapper paddingLeftRightZero margin20" >
		 <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-0">
		 <h2 class="marginZero padding15" style="padding-bottom:20px;">AI {%trans%}Sitemap{%endtrans%}</h2>
		 <div  class="col-xs-12 paddingLeftRightZero" id="sitemapContainer" >
		 <div id="sitemapColumn" >
		{%set n =0%}
			{% for inspectionUrl in inspectionsUrls %}	
			{%if n ==0%}
				<h2><a href="{{inspectionUrl}}" style="color:black;">{{inspectionsNames[n]}}</a></h2>
				<div class = "sitemapSubDiv">
			{%else%}
				{%if n == 1%}
				<h3 class="marginZero padding15"> {%trans%}Inspection Services{%endtrans%} </h3>
				{%endif%}
				<a href="{{inspectionUrl}}">{{inspectionsNames[n]}}</a><br>
			{%endif%}
				{%set n = n+1%}
			{%endfor%}
				<h3 class="marginZero padding15"> {%trans%}Audits{%endtrans%}</h3>
				{%set n =0%}
			{% for auditsUrl in auditsUrls %}	
				<a href="{{auditsUrl}}">{{auditsNames[n]}}</a><br>
				{%set n = n+1%}
			{%endfor%}
					<h3 class="marginZero padding15">{%trans%}Testing Services{%endtrans%}</h3>
				{%set n =0%}
			{% for labtestUrl in labtestUrls %}	
				<a href="{{labtestUrl}}">{{labtestNames[n]}}</a><br>
				{%set n = n+1%}
			{%endfor%}
					<h3 class="marginZero padding15">{%trans%}Service Details{%endtrans%}</h3>
				{%set n =0%}
			{% for serviceDetailsUrl in serviceDetailsUrls %}	
				<a href="{{serviceDetailsUrl}}">{{serviceDetailsNames[n]}}</a><br>
				{%set n = n+1%}
			{%endfor%}
			</div>
		</div>
<div id="sitemapColumn">
	{%set n =0%}
		{% for industriesUrl in industriesUrls %}	
			{%if n ==0%}
				<h2><a href="{{industriesUrl}}" style="color:black;">{{industriesNames[n]}}</a></h2>
				<div class="marginZero padding15">
			{%else%}
				<a href="{{industriesUrl}}">{{industriesNames[n]}}</a><br>
			{%endif%}
			{%set n = n+1%}
		{%endfor%}
	</div>
</div>
	<div id="sitemapColumn">
	<h2 > {%trans%}About Us{%endtrans%} </h2>
	<div class = "sitemapSubDiv">
	{%set n =0%}
		<h3 class="marginZero padding15">{%trans%}About AsiaInspection{%endtrans%}</h3>
		{% for aboutUsUrl in aboutUsUrls %}	
			<a href="{{aboutUsUrl}}">{{aboutUsNames[n]}}</a><br>
			{%set n = n+1%}
		{%endfor%}
	{%set n =0%}
		<h3 class="marginZero padding15">{%trans%}News & Content{%endtrans%}</h3>
		<div style="margin-bottom:15px;">
		{% for newsAndContentUrl in newsAndContentUrls %}	
			<a href="{{newsAndContentUrl}}">{{newsAndContentNames[n]}}</a><br>
			{%set n = n+1%}
		{%endfor%}
	</div>
	</div>
</div>
<div id="sitemapColumn">
	<h2 > {%trans%}Careers{%endtrans%} </h2>
	<div class="marginZero padding15">
{%set i = 0%}
	{% for careersUrl in careersUrls %}
				<a href="{{careersUrl}}">{{careersNames[i]}}</a><br>
	 {%set i = i+1%}
	{% endfor %}
</div>
	</div>
 <div id="sitemapColumn">
	<h2 > {%trans%}Get Started{%endtrans%} </h2>
	<div class="marginZero padding15">
	<a href="/contact-us">{%trans%}Contact Us{%endtrans%}</a><br>
	<a href="/register">{%trans%}Registration Online{%endtrans%}</a><br>
</div>
	</div>
 </div>
 </div>
</div>
	</div>
</div>
{%endblock%}
 

